@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Fira+Sans:wght@600&family=Lumanosimo&family=Permanent+Marker&family=REM&family=Roboto&family=Roboto+Slab&family=Ysabeau+SC:wght@600;800;1000&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Ysabeau SC', sans-serif;
}
.navbar{
    background:black ;
    padding: 10px;
    color: white;
}
.navbar h1{
    font-size: 3rem;
    background: -webkit-linear-gradient(#ffd700, #f79d03, #ee6907, #e6390a, #de0d0d, #d61039, #cf1261, #c71585, #cf1261, #d61039, #de0d0d, #ee6907, #f79d03, #ffd700, #ffd700, #ffd700);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.book-container h4{
    font-size: 1.5rem;
    background: -webkit-linear-gradient(#ffd700, #f79d03, #ee6907, #e6390a, #de0d0d, #d61039, #cf1261, #c71585, #cf1261, #d61039, #de0d0d, #ee6907, #f79d03, #ffd700, #ffd700, #ffd700);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;


}
.container{
    padding: 10px;
}
.book-container{
    width: 35%;
    padding: 10px;
    background: black;
    color: white;
    border-radius: 15px;
    box-shadow: rgba(46, 35, 35, 0.35) 0px 5px 15px;
    display: inline-block;
    vertical-align: top;
    margin: 10px;
}
.book-container h3{
    font-size: 2rem;
    background: -webkit-linear-gradient(#ffd700, #f79d03, #ee6907, #e6390a, #de0d0d, #d61039, #cf1261, #c71585, #cf1261, #d61039, #de0d0d, #ee6907, #f79d03, #ffd700, #ffd700, #ffd700);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
      
}
.book-container button{
    height: 30px;
    width: 60px;
    border: transparent;
    border-radius: 20px;
    background:conic-gradient(from 90deg at 40% -25%, #ffd700, #f79d03, #ee6907, #e6390a, #de0d0d, #d61039, #cf1261, #c71585, #cf1261, #d61039, #de0d0d, #ee6907, #f79d03, #ffd700, #ffd700, #ffd700) ;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.add-button{
    width: 70px;
    height: 70px;
    border-radius: 40px;
    border: transparent;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    font-size:1.5rem;
    background:conic-gradient(from 90deg at 40% -25%, #ffd700, #f79d03, #ee6907, #e6390a, #de0d0d, #d61039, #cf1261, #c71585, #cf1261, #d61039, #de0d0d, #ee6907, #f79d03, #ffd700, #ffd700, #ffd700) ;
    position: fixed;
    bottom: 20px;
    right: 20px;

}
.popup-overlay{
    background-color: black;
    position: absolute;
    opacity: 0.8;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    display: none;
}

.popup-box{
    background:conic-gradient(from 90deg at 40% -25%, #ffd700, #f79d03, #ee6907, #e6390a, #de0d0d, #d61039, #cf1261, #c71585, #cf1261, #d61039, #de0d0d, #ee6907, #f79d03, #ffd700, #ffd700, #ffd700) ;
    width: 40%;
    position: absolute;
    padding: 40px;
    z-index: 2;
    top: 20%;
    left: 20%;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    display: none;
}
.popup-box input{
    background: transparent;
    border: none;
    width: 100%;
    margin: 5px;
    padding: 5px;
    font-size: 20px;
    border-bottom: solid black 2px;
    
}
.popup-box textarea{
    background: transparent;
    width: 100%;
    margin: 5px;
    padding: 5px;
    font-size: 20px;
    border: solid black 2px;
}
.popup-box input::placeholder{
    color: black;
}
.popup-box textarea::placeholder{
    color: black;
}
.popup-box button{
    background: black;
    height: 40px;
    width: 70px;
    color: white;
    padding: 5px;
    margin-left: 5px;
    border: transparent;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}
.popup-box input:focus{
    outline: none;
}
.popup-box textarea:focus{
    outline: none;
}